<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Notes Sharing Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="{% static 'css/full.css' %}">

  </head>
  <body>
    <!-- navbar start -->
    <nav id='navbar' style="background-color:black;">
        <h2><a href="#"><span class="text-primary">N</span>CON<span class="text-primary">N</span>ECT</a></h2>
      <ul>
        <li><a href="{% url 'ngo_profile' %}">NGO Profile</a></li>
        <li><a href="{% url 'ngo_add_requirements' %}">Add Requirements</a></li>
        <li><a href="{% url 'user_donator_list' %}">Donor List</a></li>
        <li><a href="{% url 'ngo_self_requirements' %}">My Requirements</a></li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Welcome {{request.user.first_name}}</a>
          <div class="dropdown-menu bg-medium">
            <a class="dropdown-item" href="{% url 'ngo_profile' %}">View Profile</a>
            <a class="dropdown-item" href="{% url 'changepasswordngo' %}">Change Password</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>

      </ul>
    </nav>
    <!-- navbar end -->
    {% block user_body %}
    {% endblock %}
    <!-- footer start -->
    <footer style="background-color:black;">
    </footer>
    <!-- footer end  -->
  </body>
</html>
