{% extends 'navigation.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
  alert("Signed In Successfully! :)");
  window.location=('{% url 'ngo_login' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
  alert("Something went wrong, please try again :(");
</script>
{% endifequal %}

<section id="signup">
  <div class="bg-light">
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="text-center">ARE YOU AN EXISTING NGO?</h2>
          <hr>
          <center>
          <p class="text-danger" style="font-size:14px;">(Note: You can't get donations if you don't have an account on this website)</p>
          <br><br>
          <a href="{% url 'ngo_login' %}" style="text-decoration:none" class='signup-btn' type="submit" name="submit" >LOG INTO THE ACCOUNT</a>
          </center>
        </div>

        <div class="col-sm-6">
          <h2>SIGN UP FOR NGO</h2>
          <hr>
          <p class="text-warning" style="font-size:14px;">If you don't have an account,please register</p>
          <div class="form-container">
            <br>
            <div class="form-box">
              <form method="post" onsubmit="return number_validator()" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="ngo_name">NGO Name</label><br>
                  <input id="ngo_name" type="text" placeholder="Enter NGO Name" name="ngo_name"><br>
                </div>

                <div class="form-group">
                  <label for="registration_number">Registration Number</label><br>
                  <input id="registration_number" type="text" placeholder="Enter Registration Number" name="registration_number" ><br>
                </div>

                <div class="form-group">
                  <label for="email">Email ID</label><br>
                  <input id='email' type="email" placeholder="Enter Email ID" name="emailid"><br>
                </div>

                <div class="form-group">
                  <label for="password">Password</label><br>
                  <input id="password" type="password" placeholder="Enter password" name="password" ><br>
                </div>

                <div class="form-group">
                  <label for="mobile">Mobile Number</label><br>
                  <input id='mobile' type="text" placeholder="Enter Mobile Number" name="contact">
                  <span id='alert' style='color:red;'></span><br>
                </div>


                <div class="form-group">
                  <label for="address_line_1">Address Line</label><br>
                  <input id="address_line_1" type="text" placeholder="Enter address line 1" name="address_line_1" ><br>
                </div>

                <div class="form-group">
                  <label for="city">City</label><br>
                  <input id="city" type="text" placeholder="Enter City" name="city" ><br>
                </div>

                <div class="form-group">
                  <label for="state">State</label><br>
                  <input id="state" type="text" placeholder="Enter State" name="state" ><br>
                </div>

                <div class="form-group">
                  <label for="country">Country</label><br>
                  <input id="country" type="text" placeholder="Enter Country" name="country" ><br>
                </div>

                <div class="form-group">
                  <label for="pincode">Pincode</label><br>
                  <input id="pincode" type="text" placeholder="Enter Pincode" name="pincode" ><br>
                </div>

                <div class="form-group">
                  <label for="certificate">Certificate</label><br>
                  <input id="certificate" type="file" accept="image/*" name="certificate" ><br>
                </div>

                <div class="form-group">
                  <label for="description">Description </label><br>
                  <textarea id="description" type="text" placeholder="Enter a bit about your NGO so that more people may contribute..." name="description" ></textarea><br>
                </div>

                <div class="form-group">
                  <label for="image">Image of NGO</label><br>
                  <input id="image" type="file" accept="image/*" name="image"<br>
                </div>

                <button class='text-center signup-btn' type="submit" name="submit">SIGN UP</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
